html {
  font-size: 10px;
}
body {
  background-color: lightpink;
  font-family: Helvetica;
}
/* Nav Bar properties*/
.navbar-container {
  background-color: olive;
  padding: 1rem, 0;
}
.navbar {
  padding: 1rem 1rem;
  background-color: #212322;
  font-size: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
}
.navbar-links {
  margin-right: 3rem;
  color: white;
  text-decoration: none;
}
/* Photo Section properties */
.main-section {
  background-color: navajowhite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-photo-container {
  padding: 20rem 3rem 2rem 3rem;
}
.profile-photo {
  background-color: orchid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  border: solid red 1.5rem;
  border-radius: 20rem;
}
.header {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}
/* Social Media Links properties */
.social-media {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 0.75rem;
  font-size: 2rem;
  position: sticky;
  bottom: 0%;
  justify-content: center;
}
.icon-container {
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
  overflow: hidden;
}
.shape {
  width: 4rem;
  height: 4rem;
}
.icon-container.fade {
  margin: 0 2rem 0 2rem;
}

.icon-container.fade img:hover {
  opacity: 0;
}
.icon:hover img {
  margin-top: -100px;
}

.icon-container img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

.icon-container.fade img {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
}

/* Projects Section properties */
.section-container {
  background-color: palegreen;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: paleturquoise;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 2rem;
}
.image {
  padding: 1rem;
}
/* Contact Section properties */
.contact-container {
  display: flex;
  flex-direction: row;
  width: auto;
  font-size: 2rem;
}
.contact-info {
  background-color: yellow;
  width: 50%;
}

/* Contact form properties */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: blue;
}

.contact-form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* About me Page properties */

/* About section properties */
.about {
  display: flex;
  flex-direction: column;
  width: auto;
  font-size: 2.5rem;
  margin: 1rem;
}
.about-text {
  margin: 1rem;
}
.hero-image {
  width: auto;
  height: auto;
}
