* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Baumans", cursive;
}
body {
  background-image: url(../images/bckgr.png);
}
/* Nav Bar properties*/

.navbar {
  padding: 1rem 0rem;
  background-color: #212322;
  font-size: 2.5rem;
  position: sticky;
  text-align: initial;
}
.navbar-links {
  margin: 4rem;
  color: white;
  text-decoration: none;
}
/* Photo Section properties */
.main-section {
  background-color: navajowhite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-photo-container {
  padding: 20rem 3rem 2rem 3rem;
}
.profile-photo {
  background-color: orchid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
  border: solid #212322 1.5rem;
  border-radius: 20rem;
}
.intro {
  background-color: rgba(168, 168, 168, 0.7);
  width: 30vw;
  margin: auto;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  text-shadow: 1px 2px rgb(177, 177, 177);
}
/* Social Media Links properties */
.media {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 0.75rem;
  font-size: 2rem;
  position: sticky;
  bottom: 0%;
  justify-content: center;
}
.icon-container {
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
  overflow: hidden;
}
.shape {
  width: 4rem;
  height: 4rem;
}
.icon-container.fade {
  margin: 0 2rem 0 2rem;
}

.icon-container.fade img:hover {
  opacity: 0;
}
.icon:hover img {
  margin-top: -100px;
}

.icon-container img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

.icon-container.fade img {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
}

/* Projects Section properties */
h1 {
  background-color: #212322;
  text-align: center;
  text-shadow: 2px 2px #aa5860;
  font-size: 3.5rem;
  padding: 2rem;
  font-weight: bold;
  color: white;
}
h2 {
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #212322;
  text-shadow: 2px 2px rgb(177, 177, 177);
}
h3 {
  text-align: center;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px #ffffff;
}

.projects-container {
  background-color: #be1e2d;
  display: flex;
  flex-direction: row;
  margin: 5rem 2rem;
  width: 96vw;
  justify-content: center;
}
.project {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 2rem;
  align-items: center;
}

.project-image-1 {
  width: 28vw;
  height: 15vw;
  object-fit: cover;
}
.description-container {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

/* About section properties */
.about-main-container {
  background-color: #fff1a1;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  align-items: center;
}
.about-text {
  width: 60vw;
  padding: 2rem;
  margin-bottom: 5rem;
  background-color: rgba(168, 168, 168, 0.5);
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px rgb(177, 177, 177);
}
/* Hero Image properties */
.about-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-image {
  width: 70vw;
  justify-content: center;
}
/* Footer properties */
footer {
  background-color: #212322;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0rem;
  color: white;
}

/* Media queries */

/* Laptops */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
}
/* Tablets - portrait and landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .other-projects-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-text {
    padding: 0;
    margin: 0;
    font-size: 2rem;
  }
}

/* iPhone 5, 5S, 5C and 5SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .other-projects-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-text {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
  .project-image-1 {
    width: 60vw;
  }
}

/* iPhone 6+, 7+ and 8+ */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .other-projects-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-text {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
}

/* Galaxy S4, S5 and Note 3 */
@media screen and (device-width: 320px) and (device-height: 640px) {
  .other-projects-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-text {
    padding: 0;
    margin: 0;
  }
}
